body {
    background-image: url("images/crosslinedots.png");
    background-position: left;

}
img {
    transform: rotate(180deg);
    width: 200px;
    height: 200px;
    float: left;
}
.container{
    background: white;
}
.clearfix::after {
    content="";
    display:table;
    clear:both;
}

.footer {
    background: #343a40;
    margin-top: 15px;
   
}
